<!DOCTYPE html>
<html lang="en"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/root-layout}">
  <head>
   <link rel="stylesheet" type="text/css" th:href="@{/css/styleind.css}" />
</head>

<body>
   <section class="stmychallenge" layout:fragment="content">
	<div align="center">
		<h2>My Challenge is</h2>
		 
		<div th:each="challenge: ${challenges}">
			<h1 th:text="${challenge.name}"> </h1>
			<h3 th:text="${challenge.description}"> </h3>
		<br>	
		
		<a th:href="@{/saveCalendarChallenge/{id}/{name}(id=${challenge.id}, name=${challenge.name})}"><button type="button" class="btn btn-primary">Do</button></a>
		</div>
	</div>
	
	
	</section>
</body>
</html>
